In [1]:
import pandas as pd
import numpy as np
import seaborn as sbn

In [2]:
df=pd.read_csv('diamonds.csv')
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
X=df.drop("price",axis=1).values
Y=df["price"].values
X.shape

(53940, 9)

In [4]:
Y.shape

(53940,)

In [5]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [6]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [8]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [9]:
pd.get_dummies(df,drop_first=True)

,carat,depth,table,price,x,y,z,cut_Good,cut_Ideal,cut_Premium,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.23,61.5,55.0,326,3.95,3.98,2.43,0,1,0,...,0,0,0,0,0,1,0,0,0,0
1,0.21,59.8,61.0,326,3.89,3.84,2.31,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2,0.23,56.9,65.0,327,4.05,4.07,2.31,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0.29,62.4,58.0,334,4.20,4.23,2.63,0,0,1,...,0,1,0,0,0,0,0,1,0,0
4,0.31,63.3,58.0,335,4.34,4.35,2.75,1,0,0,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,60.8,57.0,2757,5.75,5.76,3.50,0,1,0,...,0,0,0,0,1,0,0,0,0,0
53936,0.72,63.1,55.0,2757,5.69,5.75,3.61,1,0,0,...,0,0,0,0,1,0,0,0,0,0
53937,0.70,62.8,60.0,2757,5.66,5.68,3.56,0,0,0,...,0,0,0,0,1,0,0,0,0,0
53938,0.86,61.0,58.0,2757,6.15,6.12,3.74,0,0,1,...,1,0,0,0,0,1,0,0,0,0
53939,0.75,62.2,55.0,2757,5.83,5.87,3.64,0,1,0,...,0,0,0,0,0,1,0,0,0,0

In [10]:
new_df=df.drop(columns=['cut','color','clarity'])

In [11]:
X=new_df.drop(columns='price')
Y=new_df['price']

In [12]:
print("shape of X is ",X.shape)
print("shape of Y is",Y.shape)

shape of X is  (53940, 6)
shape of Y is (53940,)

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=0)

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
sc=StandardScaler()

In [17]:
sc.fit(X_train)
sc.transform(X_train)
sc.transform(X_test)

array([[ 0.63541472,  0.17052308, -1.09754287,  0.78186907,  0.79173513,
         0.80232816],
       [ 1.03568463,  0.58881385, -0.64963833,  1.09348994,  1.03414931,
         1.13981418],
       [ 0.8460831 , -0.45691308,  0.24617075,  1.02226231,  0.92159987,
         0.90076158],
       ...,
       [ 1.49915506, -0.94491898,  0.69407528,  1.36949699,  1.35448234,
         1.21012377],
       [ 2.91063318,  0.58881385, -1.09754287,  2.25984233,  2.15098608,
         2.27882952],
       [ 2.63676429, -3.38494849,  0.24617075,  2.42900794,  2.22024727,
         1.73041473]])

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
reg=LinearRegression()

In [20]:
reg.fit(X_train,Y_train)

LinearRegression()

In [21]:
predict=reg.predict(X_test)

In [22]:
predict.reshape(-1, 1)

array([[ 6301.6066154 ],
       [ 7667.3572216 ],
       [ 6893.40919843],
       ...,
       [ 9744.07440222],
       [15629.87813733],
       [14841.04396095]])

In [23]:
score=reg.score(X_test,Y_test)
score

0.8611085354782839

# Finding Errors

In [25]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(predict,Y_test)

888.9578124011418

In [26]:
from sklearn.metrics import mean_squared_error
mean_squared_error(predict,Y_test)

2211578.0094714505

In [27]:
from math import sqrt

In [28]:
from sklearn.metrics import mean_squared_error
result=sqrt(mean_squared_error(predict,Y_test))
result

1487.1375220440948

In [35]:
from sklearn.metrics import confusion_matrix

confusion_matrix(predict,X_test)

ValueError: Classification metrics can't handle a mix of continuous and continuous-multioutput targets